
body {
    width: 550px;
    height: 200px;
    margin: 8px;
    overflow-y: auto;
    overflow-x: hidden;
}

div {
    font-size: large;
}

#sellers {
    max-height: 550px;
}

.hover {
    color:blue;
    cursor:pointer;
}

.seller-item {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
}


 

